* {
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary: #fcfaeb;
    --bg: #1a4c39;
}

body {
    background-color: var(--bg);    
    color: var(--primary);
    scroll-behavior: smooth;
}

a {
    color: var(--primary);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
    background-image: url('../assets/navbg.webp');
    background-size: cover;
    background-color: var(--primary);
    animation: fadeIn 2s ease-in-out forwards;
}

div.spacer {
    flex: 2;
}
.text-container p {
    color: transparent;
}

.logo {
    height: 20vh;
    border-radius: 50%;
}

/* Main Content */
main, section, header, footer, .products{
    width: 100%;
}

section {
    padding: 0 10%;
    border-bottom: 1px solid var(--primary);
}

.about div {
    text-align: center;
    padding: 10px 30px;
    margin: 15px 0;
}

.about div ul {
    list-style: none;
}

.about div ul li {
    padding: 5px 0;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Footer */
footer {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.1rem;
} 

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

@keyframes fadeIn {
    from {height: 30vh;}
    to {height: 25vh;}
}

@media (max-width: 768px) {
    .about {
        padding: 0 5%;
    }

    .about div {
        padding: 10px 10px;
    }


    footer {
        height: auto;
        flex-direction: column;
        gap: 30px;
    }

    footer ul {
          transform: translateX(-20px);
    }
}